@import "../../uv-shared-module/css/iiif-gallery-component.less";
@import "../../uv-shared-module/css/iiif-tree-component.less";
@import "../../uv-shared-module/css/thumbs-view.less";

.uv {
  .leftPanel {
    .top {
      .title {
        text-transform: uppercase;
      }
    }

    .tabs {
      height: 25px;
      border-bottom: 1px solid @panel-border-color;

      .tab {
        color: @text-color;
        background-color: @panel-dark-bg;
        display: inline-block;
        text-align: center;
        line-height: 22px;
        height: 22px;
        overflow: hidden;
        width: 75px;
        margin: 0;
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;

        &.first {
          margin: 0 0 0 @margin-medium-horizontal;
        }

        &.on {
          border: 1px solid @panel-border-color;
          border-bottom: 1px solid @panel-dark-bg;
          color: @link-color;
          margin-bottom: -1px;
          height: 25px;
          line-height: 25px;
        }
      }
    }

    .tabsContent {
      padding: @padding-medium;

      .options {
        padding: 0 0 @padding-medium-vertical;

        .top {
          overflow: hidden;
          height: auto;
        }

        .bottom {
          overflow: hidden;

          .left {
            float: left;

            .treeView {
              padding: @padding-small-vertical 0 0 0;

              span {
                display: block;
                float: left;
                color: @text-color;
                padding: 5px 4px 0 0;
                font-size: @font-size-small;
              }

              select {
                float: left;
                font-size: @font-size-small;
              }
            }
          }

          .right {
            float: right;
            overflow: hidden;

            .multiSelect {
              .multiSelectAll {
                float: left;
              }

              .btn {
                margin-left: @margin-medium-horizontal;
              }
            }
          }
        }
      }

      .btn-group {
        .btn {
          padding: 0 @margin-small-horizontal;
          background: @gray;
          color: @gray-light;
          width: 55px;

          &.on {
            background: #ddd;
            color: #000;
          }
        }
      }
    }

    .views {
      .treeView {
        font-weight: normal;
        overflow: auto;
        padding: 0 @padding-medium-horizontal 0 0;

        .iiif-tree-component ul li a.selected {
          color: @link-color !important;
        }
      }

      .galleryView {
        .main {
          .thumbs {
            .thumb {
              .info {
                .label {
                  min-height: 35px;
                  max-height: 35px;
                  overflow-x: visible;
                  text-overflow: nowrap;
                  white-space: break-spaces;
                  max-width: 100%;
                }
              }
            }
          }
        }
      }

      .searchView {
        overflow: auto;
        color: @text-color;
        height: 100%;

        .searchHitsContainer {
          margin: 0;
          width: calc(100% - 20px);
          display: flex;

          .searchHitsLabel {
            flex: 1;
            text-align: center;
            align-items: center;
            justify-content: center;
          }
        }

        .searchPagerContainer {
          margin: 0;
          width: calc(100% - 20px);
          display: flex;
          justify-content: center;
          align-items: center;

          button {
            background-color: @gray;
            width: 20px;
            height: 20px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            cursor: pointer;

            &.prev::before,
            &.next::before {
              content: "";
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 0;
              height: 0;
              border-top: 5px solid transparent;
              border-bottom: 5px solid transparent;
            }

            &.prev::before {
              border-right: 5px solid white;
            }

            &.next::before {
              border-left: 5px solid white;
            }

            &:hover {
              background-color: @gray-dark;
            }

            &:disabled {
              cursor: not-allowed;
              pointer-events: none;
              opacity: 0.65;
              box-shadow: none;
            }
          }

          span {
            margin: 0 20px;
            display: inline-flex;
            align-items: center;
          }
        }

        .canvasTitle {
          color: #9a9a9a;
          border-bottom: 1px solid #343434;
          margin: 0 10px 10px;
          width: calc(100% - 20px);
        }

        .searchResult {
          height: auto;
          width: auto;
          margin: 0;

          .searchHit {
            margin: 10px 0;
            padding: 5px;
            border: 2px solid @panel-dark-bg;
            cursor: pointer;

            &:focus {
              outline: 2px solid @link-color;
              outline-offset: 2px;
            }

            &.current {
              border: 2px solid white;

              .searchHitSpan {
                background-color: #11d4ff;
                color: #000;
              }
            }

            .searchHitSpan {
              font-weight: bold;
              background-color: #10819a;
              padding: 3px;
            }

            .searchHitNumberSpan {
              border: none;
              color: #fff;
              margin: 0 0 5px;
              display: block;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

.uv.browser-Explorer {
  .leftPanel {
    .views {
      .galleryView {
        .header {
          input[type="range"] {
            margin-top: -11px;
          }
        }
      }
    }
  }
}

.uv.browser-Firefox {
  .leftPanel {
    .views {
      .galleryView {
        .header {
          input[type="range"] {
            margin-top: 9px;
            overflow: hidden;
          }
        }
      }
    }
  }
}
